@import url('common_mod.css');

/* Top */
.top {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/Services.jpg);
	background-size: cover;
	background-position: 0px bottom;
	background-repeat: no-repeat;
	width: 100vw;
	height: 400px;
	position: relative;
}

.cnt {
	position: absolute;
	width: 800px;
	height: 250px;
	left: 235px;
	top: 100px;
	background: rgba(95, 140, 59, 0.66);
}

.cnt>h1 {
	color: #fff;
	text-align: center;
	line-height: 1;
	font-size: 32px;
}

.cnt p {
	padding-top: 20px;
	color: #fff;
	text-align: center;
}

/* Services */

.services {
	display: flex;
	justify-content: space-around;
}

.services .srvs {
	margin: 30px auto;
	width: 180px;
	height: 120px;
}

.srvs a {
	text-decoration: none;
	display: block;
	background-color: #95BF47;
	width: 180px;
	height: 120px;
	border-radius: 25px;
	text-align: center;
	line-height: 120px;
}

.srvs a:hover {
	background-color: #5F8C3B;
}

.srvs a h2 {
	font-size: 20px;
	color: #fff;
}

.info {
	height: 500px;
	background: linear-gradient(0deg, rgba(149, 191, 71, 0.66), rgba(149, 191, 71, 0.66)), url(../img/BG.jpg);
}

.infocnt {
	display: block;
	width: 900px;
	height: 275px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.33));
	margin: 75px auto;
	padding: 75px 0 0;
}

.infocnt p {
	display: block;
	width: 500px;
}