@import url('common_mod.css');

/* Top */
.top {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/News.jpg);
    background-color: #95BF47;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 500px;
    position: relative;
    display: block;
    margin: 0 auto;
    color: #5F8C3B;
    overflow: hidden;
}

/* News */
.news_ul {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

/* RWD設定 */
@media screen and (max-width: 415px) {

    /* top */
    .top {
        height: 250px;
        background-position: center;
        background-size: cover;
    }

    .news_ul {
        width: 100vw;
        flex-direction: column;
    }

    .news_ul li {
        margin: 0 auto;
    }
}