@import url('common_mod.css');

/* Top */
.top {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/AboutUs.JPG);
	background-size: cover;
	background-position: 0px center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 500px;
	align-items: center;
}

.content {
	margin: 50px auto;
	width: 800px;
	height: 250px;
	padding: 10px;
	background: rgba(95, 140, 59, 0.66);
}

.content>h1 {
	color: #fff;
	text-align: center;
	font-size: 32px;
}

.content h2 {
	text-align: center;
}

/* About us */

.aboutUs {
	padding: 30px auto;
	background-color: #95BF47;
}


.members_ul {
	margin: 60px auto;
	width: 1200px;
	display: flex;
	justify-content: space-evenly;
}

.cards .p1 {
	background-image: url(/img/Clara2.jpg);
}

.cards .p2 {
	background-image: url(../img/index/25798103_s.jpg);
}

.cards .p3 {
	background-image: url(../img/index/laurin-steffens-IVGZ6NsmyBI-unsplash.jpg);
}

/* RWD設定 */
@media screen and (max-width: 415px) {

	/* top */
	.top {
		height: 250px;
		background-position: center;
		background-size: cover;
	}

	.content {
		margin: 0 auto;
		width: 300px;
		height: 160px;
		padding: 10px;
		background: rgba(95, 140, 59, 0.66);
	}

	.content>h1 {
		font-size: 2.4rem;
	}

	.content h2 {
		margin: 0 auto;
		width: 270px;
		font-size: 1.5rem;
		text-align: justify;
	}

	.members_ul {
		margin: 60px;
		width: 100vw;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		/* border: 1px solid #000; */
	}
}