@import url('common_mod.css');

.cnt {
	position: absolute;
	width: 800px;
	height: 250px;
	left: 235px;
	top: 100px;
	background: rgba(95, 140, 59, 0.66);
}

.cnt>h1 {
	color: #fff;
	text-align: center;
	line-height: 1;
	font-size: 32px;
}

.cnt p {
	padding-top: 20px;
	color: #fff;
	text-align: center;
}

/* About us */

.info {
	height: 1200px;
	background: linear-gradient(0deg, rgba(149, 191, 71, 0.66), rgba(149, 191, 71, 0.66)), url(../img/BG.jpg);
	padding: 45px;
}

.info h2 {
	color: #fff;
	font-size: 30px;
	margin-bottom: 30px;
}

.info .mem {
	background-color: #fff;
	width: 300px;
	height: 500px;
	border-radius: 25px;
	box-sizing: border-box;
	overflow: hidden;
	margin-bottom: 30px;
}

.mem .photo {
	display: block;
	width: 300px;
	height: 250px;
	border-radius: 25px 25px 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

.mem .L {
	background-image: url(../img/Clara2.jpg);
	background-size: cover;
}

.mem .D {
	background-image: url(../img/Soe.jpg);
	background-size: cover;
}

.mem strong {
	color: #5F8C3B;
	font-size: 25px;
	margin-left: 15px;
}

.mem .ttl {
	color: #95BF47;
}

.mem p {
	margin: 30px auto;
	width: 250px;
}