@import url('common_mod.css');

/* ContactUs */

.ContactUs {
	width: 700px;
	height: 600px;
	background-color: #fff;
	margin: 80px auto;
	position: relative;
	overflow: visible;
	padding: 50px 0 0 75px;
}

.ContactUs img {
	position: absolute;
	left: 300px;
	top: -52.5px;
	width: 15%;
}

.ContactUs h2 {
	margin-bottom: 30px;
}

li {
	margin: 15px 0;
}

li p {
	color: #5F8C3B;
}

li span {
	font-size: 16px;
	color: #5F8C3B;
	margin: 15px 15px 15px 0;
}

li textarea {
	width: 620px;
	height: 150px;
}