@import url('reset.css');

/* 共用字體設定 */
html {
	font-size: 62.5%;
	/* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
}

/* 主要字體：俊羽圓體 */
@font-face {
	font-family: YuPearl-Regular;
	src: url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/YuPearl@1.011/webfont/YuPearl-Regular.woff) format("woff");
}

/* 備用字體：思源黑體 */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* Mods */
body {
	font-family: 'M PLUS Rounded 1c', YuPearl-Regular, 'Noto Sans TC';
	font-size: 0;
	line-height: 1.33;
	color: #5F8C3B;
	overflow-x: hidden;
}

.mainblock {
	background-color: #fff;
	width: auto;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.GreenBG {
	background-color: #95BF47;
	color: #fff;
	width: 100vw;
}

h1 {
	font-size: 4rem;
	text-align: center;
	margin: 35px auto;
}

h2 {
	font-size: 2.4rem;
	color: #fff;
}

p {
	font-size: 1.4rem;
	color: #000;
	display: block;
	margin: 0 auto;
	text-align: justify;
}

.cards {
	background-color: #fff;
	border: 1px solid #5F8C3B;
	border-radius: 15px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	width: 250px;
	height: 400px;
	padding: 0 20px;
	margin-bottom: 50px;
}

.cards .pic {
	display: block;
	width: 230px;
	height: 175px;
	margin: 20px auto;
	background-size: cover;
}

.cards>h2 {
	color: #5F8C3B;
	text-align: center;
	margin: 10px 0;
}

.cards>p {
	width: 230px;
	display: block;
	margin: 0 auto 10px;
}

.cards a {
	text-decoration: none;
}

.cards a span {
	color: #777777;
	font-size: 18px;
	display: block;
	text-align: right;
	margin-bottom: 10px;
}


/*--------Mods end--------*/

/* Header */

header {
	height: 60px;
	position: relative;
	width: 100vw;
	display: block;
	margin: 0 auto;
}

.logo {
	height: 40px;
	margin: 7px 15px;
	float: left;
}

.title {
	color: #fff;
	float: left;
	font-size: 3.4rem;
	line-height: 60px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
	margin: 0;
}


/* nav選單 */
#menu {
	width: 260px;
	border-radius: 21px;
	height: 42px;
	display: block;
	background-color: #fff;
	position: fixed;
	top: 5px;
	right: calc(50vw - 130px);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 10000;
	transition: all .8s cubic-bezier(0.5, 0, 0.1, 1.2);
	cursor: pointer;
	overflow: hidden;
}

#green {
	width: 50%;
	border-radius: 21px 0px 0px 21px;
	height: 100%;
	background-color: #5F8C3B;
	border: 2px solid #5F8C3B;
	position: relative;
	cursor: pointer;
	transition: .5s;
}

.menu-list {
	line-height: 42px;
	display: flex;
}

.menu_li {
	flex-grow: 1;
	transition: .2s;
}

.menu_li>a {
	color: #fff;
	text-decoration: none;
	font-size: 0rem;
	padding: 5px;
	transition: .5s;
}

.menu_li>a:hover {
	background-color: #FAD689;
	color: #5F8C3B;
}

.crcl {
	width: 33.6px;
	height: 33.6px;
	border-radius: 20px;
	background-color: #fff;
	float: left;
	position: relative;
	margin-top: 2.7px;
	margin-left: 2.7px;
	margin-right: 30px;
}

.menu_text {
	font-size: 3.6rem;
	color: #fff;
	line-height: 33.6px;
	margin-left: 76.5px;
	transition: .1s;
}

.crcl>span:last-child {
	margin-left: 3px;
	color: #5F8C3B;
	font-weight: bold;
}

#cross {
	width: 20px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: .8s;
}

/*RWD用的overlay*/
.nav-overlay {
    display: block;
    position: fixed;
    top: -900px;
    right: 0px;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
	transition: all .8s cubic-bezier(0.5, 0, 0.1, 1.2);
	z-index: 5000;
}

/* nav變形用動畫相關設定 */
#menu.expanded {
	right: calc(50vw - 440px);
	width: 880px;
}

#green.expanded {
	width: 100%;
	border-radius: 21px;
	background-color: #95BF47;
	border: 1px solid #95BF47;
}

.menu_li>a.expanded {
	font-size: 2rem;
}

.menu_text.hidden {
	display: none;
}

#cross.turn {
	transform: rotate(-765deg);
	cursor: pointer;
}

.menu-list li.hidden {
	opacity: 0;
	transition-duration: 0s;
}

/*顯示項目*/
.menu-list li:nth-child(1) {
	transition-delay: 0.4s;
}

.menu-list li:nth-child(2) {
	transition-delay: 0.5s;
}

.menu-list li:nth-child(3) {
	transition-delay: 0.6s;
}

.menu-list li:nth-child(4) {
	transition-delay: 0.7s;
}

.menu-list li:nth-child(5) {
	transition-delay: 0.8s;
}

.menu-list li:nth-child(6) {
	transition-delay: 0.9s;
}

/*隱藏項目*/
.menu-list li.hidden {
	transition-delay: .1s;
}


/* Footer */

footer {
	width: 100vw;
	height: 145px;
	background-color: #FAD689;
	overflow: hidden;
	position: relative;
}

footer ul {
	width: 80vw;
	margin: 48px auto 0;
	display: flex;
	justify-content: space-around;
}

footer ul li {
	flex-grow: 1;
}

footer ul li a {
	text-decoration: none;
	color: #000;
	font-size: 1.6rem;
	display: block;
	text-align: center;
	border-right: 1px solid #000;
}

footer ul li:nth-child(6)>a {
	border-right: none;
}

.topbtn .crcl {
	width: 33.6px;
	height: 33.6px;
	border-radius: 20px;
	background-color: #fff;
	display: block;
	position: relative;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	margin-bottom: 5px;
}

.topbtn .crcl img {
	width: 66%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.topbtn {
	display: block;
	width: 33.6px;
	height: 50px;
	position: absolute;
	right: 60px;
	top: 35px;
}

.topbtn p {
	font-size: 1.2rem;
	color: #5F8C3B;
	display: block;
	text-align: center;
	margin-top: 5px;
	margin-left: 9px;
	cursor: pointer;
}

.copyright {
	text-align: center;
	font-size: 8px;
	margin: 20px auto;
}

/* 通用RWD設定 */
@media screen and (max-width: 415px) {
	h1 {
		font-size: 2.8rem;
		margin: 30px auto;
	}

	h2 {
		font-size: 2rem;
	}

	p {
		font-size: 1.5rem;
	}

	img {
		scale: 0.7;
	}

	/* Header */
	header {
		height: 50px;
	}

	.logo {
		scale: 0.7;
		padding: 5px;
		height: 40px;
		margin-left: -15px;
		margin-top: -7.5px;
	}

	.title {
		color: #fff;
		float: left;
		font-size: 2.2rem;
		line-height: 50px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, .25);
		margin-left: -21px;
		margin-top: -5px;
	}

	/* nav選單 */
	#menu {
		width: 260px;
		opacity: 1;
		right: -216.3px;
	}

	.crcl {
		margin-top: 2.8px;
		margin-left: 3px;
		margin-right: 10px;
	}

	.crcl img {
		scale: 1;
	}

	.menu_li>a {
		width: 0vw;
		font-size: 0rem;
	}

	.menu-list {
		padding-top: 10px;
		flex-wrap: wrap;
	}

	.menu_li {
		margin-top: 2px;
	}

	.menu_text {
		display: none;
	}

	/* nav變形用動畫相關設定 */
	#menu.expanded {
		right: 0px;
		width: 100vw;
		height: 360px;
	}

	.menu_li>a.expanded {
		display: flex;
		justify-content: center;
		font-size: 2.6rem;
		text-align: center;
		width: 100vw;
		margin-left: -50px;
		/* border: 1px solid red; */
	}
	.nav-overlay.expanded {
		top: 0;
		width: 415px;
		height: 900px;
		background-color: rgba(56, 82, 40, 0.7);
	}

	#cross.turn {
		scale: 1.16;
	}

	/* Footer */
	footer {
		height: 135px;
		padding-bottom: 10px;
	}

	footer ul {
		width: 70vw;
		margin: 20px auto 0;
		flex-wrap: wrap;
	}

	.footerMenu li>a {
		font-size: 1.8rem;
		border-right: none;
		margin-right: 20px;
	}

	.topbtn {
		position: fixed;
		right: 12px;
		top: 812px;
		z-index: 100;
	}

	.copyright {
		font-size: 0.8rem;
	}

	.topbtn p {
		margin-top: 3px;
		margin-left: 7px;
		cursor: pointer;
	}
}