@import url('common_mod.css');

/* Top */
.top {
	background-image: url(../img/index/banner.png);
	background-position: 0px right;
	background-position: 0px bottom;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 375px;
	position: relative;
	background-color: #fff;
	display: block;
	margin: 0 auto;
	color: #5F8C3B;
}

.phone {
	position: absolute;
	right: 120px;
	top: 10px;
	scale: 0.7;
	animation-name:fadeIn;
    animation-duration:1.5s;
}

/* Services */

.service_content{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	/* text-align: center; */
}

.tabs {
	width: 150px;
	margin: 0;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.tabs a {
	flex-grow: 1;
	display: block;
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	background-color: #5F8C3B;
	/* width: 150px; */
	/* height: 45px; */
	text-align: center;
	line-height: 75px;
	border-radius: 21px 0px 0px 21px;
	position: relative;
}

.tabs a:nth-child(2) {
	background-color: #95BF47;
}

.contents {
	background-color: #95BF47;
	display: block;
	width: 810px;
	height: 300px;
	margin: 0 0 20px;
}

.contents .pic {
	display: block;
	width: 160px;
	height: 120px;
	background-color: #fff;
	background-image: url(../img/index/23548328.png);
	background-size: cover;
	float: right;
	margin-top: 80px;
	margin-right: 60px;
}

.atc {
	float: left;
	display: block;
	width: 300px;
	margin-top: 70px;
	margin-left: 20px;
}

.atc h3 {
	font-size: 20px;
	color: #fff;
	text-align: left;
	margin: 15px auto;
}

.atc p {
	color: #fff;
	display: block;
	width: 500px;
	margin: 0 auto 30px;
}

/* Cases */

.cases>div {
	display: block;
	margin: 0 auto;
	width: 960px;
	display: flex;
}

.unf {
	display: block;
	width: 250px;
	height: 200px;
	margin-top: 60px;
}

.unf1 {
	background: linear-gradient(0deg, rgba(0, 0, 0, .66), rgba(0, 0, 0, 0.35)), url(../img/index/purple-candy-sweet-pink-3aa34f9d9660c8999814a92ec4284cdd.jpg);
	background-size: cover;
}

.unf2 {
	background: linear-gradient(0deg, rgba(0, 0, 0, .66), rgba(0, 0, 0, 0.35)), url(../img/index/4109059_s.jpg);
	background-size: cover;
}

.focus {
	display: block;
	width: 275px;
	height: 225px;
	background-image: url(../img/index/4781122_s.jpg);
	background-size: cover;
	margin: 0 auto;
}

.card {
	display: block;
	background-color: #FAD689;
	width: 350px;
	padding: 20px 20px 10px 20px;
	position: relative;
	margin: 0 50px 50px;
}

.card .L {
	position: absolute;
	left: -150px;
	top: 120px;
}

.card .R {
	position: absolute;
	right: -150px;
	top: 120px;
}

.card p {
	width: 331px;
	margin: 20px auto;
}

/* Partners */
.GreenBG ul {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 50px;
}

.pners {
	display: block;
	height: 250px;
	padding-top: 30px;
}

.pners a{
	display: block;
	border-radius: 17px;
	border: 2px solid #FFF;
}


.pners>h2 {
	font-size: 24px;
	margin: 0 auto 30px;
	text-align: center;
}

/* News */

.news ul {
	display: flex;
	justify-content: space-evenly;
}

.posts {
	background-color: #fff;
	border: 1px solid #5F8C3B;
	border-radius: 15px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	width: 250px;
	padding: 0 20px;
	margin-bottom: 50px;
}

.posts .pic {
	display: block;
	width: 230px;
	height: 175px;
	margin: 20px auto;
	background-size: cover;
}

.posts .p1 {
	background-image: url(../img/index/22551222_s.jpg);
}

.posts .p2 {
	background-image: url(../img/index/25798103_s.jpg);
}

.posts .p3 {
	background-image: url(../img/index/laurin-steffens-IVGZ6NsmyBI-unsplash.jpg);
}

.posts>h2 {
	color: #5F8C3B;
	text-align: center;
	margin: 10px 0;
}

.posts>p {
	width: 230px;
	display: block;
	margin: 0 auto 10px;
}

.posts a {
	text-decoration: none;
}

.posts a span {
	color: #777777;
	font-size: 18px;
	display: block;
	text-align: right;
	margin-bottom: 10px;
}

/* About us */

.abu {
	height: 500px;
	position: relative;
}

.PandA .pic {
	display: block;
	width: 450px;
	height: 300px;
	border-radius: 25px;
	background-image: url(../img/index/25102634_s.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin-left: 70px;
	position: absolute;
	z-index: 2;
}

.PandA .shd {
	background-image: url();
	background-color: #fff;
	position: absolute;
	bottom: 45px;
	left: 45px;
	z-index: 1;
}

.PandA p {
	color: #fff;
	width: 440px;
	float: right;
	margin-right: 150px;
	margin-top: 50px;
}