@import url('reset.css');
@import url('common_mod.css');

/* Top */
.top {
	background-image: url(../img/index/banner2.jpg);
	background-color: #95BF47;
	background-position: left -250px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 500px;
	position: relative;
	display: block;
	margin: 0 auto;
	color: #5F8C3B;
	overflow: hidden;
}

.slogan {
	position: absolute;
	top: 130px;
	opacity: 0;
	left: -340px;
	transition: 1.5s;
}

.slogan h1 {
	font-size: 5rem;
	text-align: left;
	color: #FFF;
	line-height: 1;
	text-shadow: 1.5px 1.5px #777;
	transition: .5s;
}

.slogan h1:nth-child(2) {
	margin-left: 80px;
	transition: 1s;
}

.slogan h1:nth-child(3) {
	margin-left: 160px;
	transition: 1.5s;
}

.slideIn {
	left: 290px;
	opacity: 1;
}

.phone {
	opacity: 0;
	position: absolute;
	right: 120px;
	top: 0px;
	scale: 0.9;
}

.fadeIn {
	top: 60px;
	opacity: 1;
	transition: 1.5s;
}

/* Services */
.services h1 {
	margin-top: 60px;
}

.service_content {
	width: 1000px;
	margin: 0 auto;
	display: flex;
}

.tabs {
	width: 150px;
	margin: 0;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.tab-title li {
	flex-grow: 1;
	display: block;
	width: 150px;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	background-color: #5F8C3B;
	text-align: center;
	line-height: 100px;
	border-radius: 21px 0px 0px 21px;
}

.tab-title li.active {
	background-color: #95BF47;
	border-right: 1px solid #95BF47;
}

.tab-title li a {
	display: block;
	text-decoration: none;
	font-size: 2.2rem;
	color: #fff;
	text-align: center;
	line-height: 100px;
	border-radius: 21px 0px 0px 21px;
}

.tab-title li a:hover {
	background-color: #FAD689;
}

.tab-title li.active a:hover {
	background-color: #95BF47;
}

.contents {
	background-color: #95BF47;
	display: flex;
	width: 810px;
	height: 400px;
	margin: 0 0 20px;
	z-index: 1;
}

.atc {
	display: block;
	width: 300px;
	height: auto;
	margin-top: 40px;
}

.contents>img {
	width: 213.29px;
	height: 160px;
	background-color: #fff;
	margin: 100px 50px;
}

.atc h3 {
	font-size: 2rem;
	color: #fff;
	text-align: left;
	margin: 15px auto;
}

.atc p {
	color: #fff;
	display: block;
	width: 400px;
	margin: 0 auto 30px;
}

.atc ol {
	margin-bottom: 40px;
	width: 400px;
}

.atc ol li {
	text-indent: -1em;
	font-size: 1.4rem;
	color: #fff;
	display: block;
	width: 400px;
	margin: 0 auto 30px 1em;
}

/* Cases */
/*Swiper 設定*/
.swiper {
	width: 900px;
	height: 400px;
	margin-bottom: 60px;
}

.swiper-button-prev {
	color: #95BF47;
}

.swiper-button-next {
	color: #95BF47;
}

.swiper-pagination-bullet-active {
	background-color: #95BF47;
}

.casecard {
	background-color: #FFF;
	width: 500px;
	height: 300px;
	padding: 5px;
	position: relative;
	margin: 40px auto 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 6px #777;
}

.casecard img {
	width: 490px;
	height: 290px;
}

/* Partners */
.partners_ul {
	margin: 0 auto;
	width: 1040px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.pners {
	display: block;
	height: 250px;
	padding-top: 30px;
	margin-bottom: 60px;
}

.pners>div {
	display: block;
	border-radius: 17px;
	border: 2px solid #FFF;
}


.pners>h2 {
	margin: 0 auto 30px;
	text-align: center;
}

/* News */

.news_ul {
	margin: 0 auto;
	width: 1200px;
	display: flex;
	justify-content: space-evenly;
}

.cards .p1 {
	background-image: url(../img/index/22551222_s.jpg);
}

.cards .p2 {
	background-image: url(../img/index/25798103_s.jpg);
}

.cards .p3 {
	background-image: url(../img/index/laurin-steffens-IVGZ6NsmyBI-unsplash.jpg);
}

.mobileNews {
	display: none;
}

/* About us */

.aboutUs {
	height: 500px;
	position: relative;
}

.photoAndInfo {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.photoAndInfo>img {
	display: block;
	width: 400px;
	height: 270px;
	border-radius: 25px;
	box-shadow: 500px 0px 0px #FAD689;
}


.photoAndInfo a {
	text-decoration: none;
}

.photoAndInfo a:link {
	color: #5F8C3B;
}

.photoAndInfo a:visited {
	color: #95BF47;
}

.photoAndInfo a:hover {
	color: rgb(0, 119, 255);
}

.photoAndInfo a:active {
	color: yellow;
}

.photoAndInfo p {
	width: 300px;
	margin-left: 150px;
	margin-top: 30px;
}

/* RWD設定 */
@media screen and (max-width: 415px) {

	/* top */
	.top {
		height: 250px;
		background-position: 0px 35px;
		background-size: cover;
	}

	.phone {
		scale: 0.35;
		right: -90px;
		top: -90px;
	}

	.slogan {
		position: absolute;
		top: 70px;
		opacity: 0;
		left: -340px;
		transition: 1.5s;
	}

	.slogan h1 {
		font-size: 2rem;
		text-align: left;
		color: #FFF;
		line-height: .5;
		text-shadow: 1.5px 1.5px #777;
		transition: .5s;
	}

	.slogan h1:nth-child(2) {
		margin-left: 30px;
		transition: 1s;
	}

	.slogan h1:nth-child(3) {
		margin-left: 60px;
		transition: 1.5s;
	}

	.slideIn {
		left: 40px;
		opacity: 1;
	}

	/*Services*/
	.services {
		width: 96vw;
		display: flex;
		flex-wrap: wrap;
	}

	.service_content {
		display: block;
		width: 96vw;
	}

	.tabs {
		height: auto;
		width: 96vw;
	}

	.tab-title {
		width: 96vw;
		display: flex;
	}

	.tab-title li {
		border-radius: 21px 21px 0px 0px;
		line-height: 50px;
	}

	.tab-title li.active {
		border-bottom: 2px solid #95BF47;
	}

	.tab-title li a {
		font-size: 2rem;
		line-height: 50px;
		border-radius: 21px 21px 0px 0px;
	}

	.contents {
		width: 96vw;
		flex-direction: column;
		height: auto;
		padding-bottom: 20px;
	}

	.contents>img {
		scale: 1;
		background-color: #fff;
		margin: 40px auto 20px;
	}

	.atc {
		width: 96vw;
		height: auto;
		margin: 0px auto;
	}

	.atc h3 {
		margin-left: 10px;
	}

	.atc p {
		width: 90vw;
		margin-bottom: 8px;
	}

	.atc ol {
		width: 80vw;
	}

	.atc ol li {
		width: 86vw;
		font-size: 1.3rem;
		margin: 0 auto 2px 26px;
		text-align: justify;
	}

	.toServices {
		font-size: 1.3rem;
		color: #000;
		border: 10px solid red;
	}

	/*Cases*/

	.cases h1 {
		margin-bottom: -45px;
	}

	.swiper {
		width: 100vw;
		height: 400px;
		margin: 0 auto 40px;
	}

	.casecard {
		width: 310px;
		height: 210px;
		margin: 80px auto 50px;
		overflow: hidden;
	}

	.casecard>img {
		width: 438px;
	}

	/*Partners*/
	.partners_ul {
		width: 80vw;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pners {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.pners a {
		margin: 0 auto;
	}

	/*News*/
	.news_ul {
		display: none;
	}

	.mobileNews {
		display: block;
		width: 90vw;
		margin: 0 auto 60px;
		height: auto;
		position: relative;
	}

	.mobileNews-swiper-slide {
		width: 70vw;
		margin: 0 auto;
	}

	.news-pagination {
		position: absolute;
		bottom: 50px;
		left: 50px;
	}

	/*About us*/
	.aboutUs {
		width: 100vw;
		height: auto;
	}

	.photoAndInfo {
		width: 90vw;
		height: auto;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.photoAndInfo>img {
		margin-top: -30px;
		box-shadow: 0px 290px 0px #FAD689;
	}

	.photoAndInfo p {
		font-size: 1.2rem;
		width: 250px;
		margin: -20px auto 50px;
		z-index: 1;
	}
}